*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Yu Gothic";
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
}

.section {
    padding: 10rem 0 5rem 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }
}

/* header */
.header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.nav {
    padding-top: 40px;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    text-align: center;
}

.logo > img {
    width: 100px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:not(:last-child) {
    margin-right: .5rem;
}

.nav-link:link,
.nav-link:visited {
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link {
    display: block;
    text-align: center;
}

.nav-link.icon {
    font-size: 3rem;
}

.top-nav {
    display: none;
}

.hamburger {
    display: none;
}

.cart-icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu.show {
        left: 0;
    }

    .top-nav {
        display: block;
        align-items: center;
        padding: 1rem 1.6rem;
    }

    .top-nav .logo {
        color: #fff;
    }

    .top-nav .close {
        position: absolute;
        top: 35px;
        right: 30px;
        display: block;
        font-size: 5rem;
        padding: 0.5rem;
        cursor: pointer;
        z-index: 10;
    }

    .hamburger {
        position: absolute;
        top: 25px;
        right: 30px;
        display: block;
        font-size: 5rem;
        padding: 0.5rem;
        cursor: pointer;
        z-index: 10;
    }

    .nav-link:link,
    .nav-link:visited {
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
    }

    .nav-list {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 1.6rem;
    }

    body.show::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    .nav-link.icon {
        display: none;
    }
}

/* min-img */
.img-box {
    position: relative;
}

.sign-logo {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 30%;
}

.under-text {
    font-size: 24px;
    margin-left: 8%;
}

/* blog */
.blog-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.blog {
    position: relative;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
    text-align: center;
    border-radius: 0.5rem;
}

.blog:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5rem);
}


.blog p {
    margin: 1rem 0;
    text-align: left;
}

.blog .time {
    display: block;
    text-align: left;
    margin: 1rem 0;
}

.blog .img-cover {
    margin: 0 auto 1rem;
    position: relative;
}

.blog .img-cover img {
    height: 100%;
    object-fit: cover;
}

.read {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.read::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.read:hover::after {
    transform: scale(1, 1);
}

/* footer */
footer {
    background-color: black;
    padding: 3rem 1rem;
    line-height: 1rem;
    text-align: center;
    color: white;
}

@media screen and (min-width: 768px) {
    .img-box {
        width: 1024px;
        position: relative;
        justify-content: center;
        margin-top: 6rem;
    }

    .main-photo {
        width: 100%;
    }

    .br-sp {display: none; }

    .logo {
        position: absolute;
        top: -100px;
        left: -100px;
    }

    .logo img {
        width: 250px;
    }

    .sign-logo {
        position: absolute;
        width: 495px;
        left: auto;
        top: auto;
        right: -60px !important;
        bottom: -49px !important;
    }
}